USE [ClientConfig]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2012/08/22 08:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [uniqueidentifier] NOT NULL,
	[CompanyName] [varchar](100) NOT NULL,
	[PhysicalAddress] [varchar](max) NULL,
	[PostalAddress] [varchar](max) NULL,
	[ContactName] [varchar](50) NULL,
	[ContactNumber] [varchar](50) NULL,
	[ContactEmail] [varchar](100) NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DeviceConfig]    Script Date: 2012/08/22 08:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DeviceConfig](
	[DeviceConfigId] [uniqueidentifier] NOT NULL,
	[DeviceId] [varchar](250) NOT NULL,
	[ApplicationName] [varchar](50) NOT NULL,
	[ApplicationWebServiceURL] [varchar](500) NULL,
	[ApplicationReplicationWebServiceURL] [varchar](500) NULL,
	[ClientConfigWebServiceURL] [varchar](500) NULL,
	[LicenseExpiryDate] [datetime] NULL,
	[DateCreated] [datetime] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DeviceConfig] PRIMARY KEY CLUSTERED 
(
	[DeviceConfigId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DevicePendingApproval]    Script Date: 2012/08/22 08:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DevicePendingApproval](
	[DevicePendingApprovalId] [uniqueidentifier] NOT NULL,
	[DeviceId] [varchar](250) NOT NULL,
	[ApplicationName] [varchar](50) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[LatestAttemptDate] [datetime] NOT NULL,
 CONSTRAINT [PK_DevicePendingApproval] PRIMARY KEY CLUSTERED 
(
	[DevicePendingApprovalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ServerAction]    Script Date: 2012/08/22 08:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ServerAction](
	[ServerActionId] [int] IDENTITY(1,1) NOT NULL,
	[Function] [varchar](50) NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[UserName] [varchar](50) NULL,
	[EntityChanged] [varchar](50) NULL,
	[FieldChanged] [varchar](50) NULL,
	[OriginalValue] [varchar](250) NULL,
	[NewValue] [varchar](250) NULL,
	[Comments] [varchar](250) NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_ServerAction] PRIMARY KEY CLUSTERED 
(
	[ServerActionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ServerError]    Script Date: 2012/08/22 08:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ServerError](
	[ServerErrorId] [int] IDENTITY(1,1) NOT NULL,
	[ErrorMessage] [varchar](500) NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[UserName] [varchar](50) NULL,
	[Comments] [varchar](250) NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_ErrorLog_1] PRIMARY KEY CLUSTERED 
(
	[ServerErrorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 2012/08/22 08:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Surname] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Address] [varchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[Phone] [varchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Customer] ([CustomerId], [CompanyName], [PhysicalAddress], [PostalAddress], [ContactName], [ContactNumber], [ContactEmail], [DateCreated]) VALUES (N'e8724fdc-5b5a-463c-a99f-0a2e40c0e6cc', N'Paramount', NULL, NULL, NULL, NULL, NULL, CAST(0x0000A0AC00B2DF5A AS DateTime))
INSERT [dbo].[Customer] ([CustomerId], [CompanyName], [PhysicalAddress], [PostalAddress], [ContactName], [ContactNumber], [ContactEmail], [DateCreated]) VALUES (N'5f5291e2-ebe1-425b-bc2b-153a7de438e3', N'UTI', NULL, NULL, NULL, NULL, NULL, CAST(0x00009FAB00BC6F85 AS DateTime))
INSERT [dbo].[Customer] ([CustomerId], [CompanyName], [PhysicalAddress], [PostalAddress], [ContactName], [ContactNumber], [ContactEmail], [DateCreated]) VALUES (N'38b61085-3338-4bb4-9911-18bf22f78cde', N'Managed Living', NULL, NULL, NULL, NULL, NULL, CAST(0x00009FAA00624BC2 AS DateTime))
INSERT [dbo].[DeviceConfig] ([DeviceConfigId], [DeviceId], [ApplicationName], [ApplicationWebServiceURL], [ApplicationReplicationWebServiceURL], [ClientConfigWebServiceURL], [LicenseExpiryDate], [DateCreated], [CustomerId]) VALUES (N'1371612a-61fb-4e69-a33e-12338aed4e24', N'4BGGG3OCfJT8Fboke+8JkgixNzU=', N'VisitUs.Mobile.exe', N'http://41.86.108.77/Dainfern.VisitUs.Web.Service/Service.asmx', N'', N'http://41.76.214.230/ClientConfig.Web.Service/Service.asmx', CAST(0x0000A38900F39F39 AS DateTime), CAST(0x0000A0AF00F3A177 AS DateTime), N'4ed9e455-b9a4-4145-9707-24ef3e8c6e2c')
SET IDENTITY_INSERT [dbo].[ServerAction] ON 

INSERT [dbo].[ServerAction] ([ServerActionId], [Function], [UserId], [UserName], [EntityChanged], [FieldChanged], [OriginalValue], [NewValue], [Comments], [DateCreated]) VALUES (1, N'INSERT', NULL, N'paulk', N'User', N'UserId', NULL, N'ba8a5636-4c4b-4cfd-a456-04fac89d5404', NULL, CAST(0x00009F6C0135F4BB AS DateTime))
INSERT [dbo].[ServerAction] ([ServerActionId], [Function], [UserId], [UserName], [EntityChanged], [FieldChanged], [OriginalValue], [NewValue], [Comments], [DateCreated]) VALUES (2, N'INSERT', NULL, N'paulk', N'Customer', N'CustomerId', NULL, N'60dd03a4-d134-404b-bcd1-2d6479001397', NULL, CAST(0x00009F6C01360DCF AS DateTime))
INSERT [dbo].[ServerAction] ([ServerActionId], [Function], [UserId], [UserName], [EntityChanged], [FieldChanged], [OriginalValue], [NewValue], [Comments], [DateCreated]) VALUES (3, N'INSERT', NULL, N'paulk', N'DeviceConfig', N'DeviceConfigId', NULL, N'ebbca30f-f9d9-4612-a03f-5dd1d1b249ce', NULL, CAST(0x00009F6C0136CA85 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ServerAction] OFF
SET IDENTITY_INSERT [dbo].[ServerError] ON 

INSERT [dbo].[ServerError] ([ServerErrorId], [ErrorMessage], [UserId], [UserName], [Comments], [DateCreated]) VALUES (1, N'Cannot insert the value NULL into column ''DeviceId'', table ''ClientConfig.dbo.DeviceConfig''; column does not allow nulls. INSERT fails.
The statement has been terminated.', NULL, N'paulk', NULL, CAST(0x00009F6C01365A3B AS DateTime))
INSERT [dbo].[ServerError] ([ServerErrorId], [ErrorMessage], [UserId], [UserName], [Comments], [DateCreated]) VALUES (2, N'SqlDateTime overflow. Must be between 1/1/1753 12:00:00 AM and 12/31/9999 11:59:59 PM.', N'697344df-50c9-4f0f-94f2-22171640c133', N'ClientConfigSystemUser', NULL, CAST(0x00009F6F00C40B12 AS DateTime))
INSERT [dbo].[ServerError] ([ServerErrorId], [ErrorMessage], [UserId], [UserName], [Comments], [DateCreated]) VALUES (3, N'No device pending approval with device ID  for application  could be found.', N'697344df-50c9-4f0f-94f2-22171640c133', N'ClientConfigSystemUser', NULL, CAST(0x00009F6F00C543A6 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ServerError] OFF
INSERT [dbo].[User] ([UserId], [UserName], [Password], [RoleId], [Name], [Surname], [Email], [Address], [DateCreated], [Phone]) VALUES (N'697344df-50c9-4f0f-94f2-22171640c133', N'ClientConfigSystemUser', N'(L!3nT', 4, N'System', N'User', N'paul.kolo@gmail.com', NULL, CAST(0x00009F6C01365A3B AS DateTime), NULL)
INSERT [dbo].[User] ([UserId], [UserName], [Password], [RoleId], [Name], [Surname], [Email], [Address], [DateCreated], [Phone]) VALUES (N'107fec42-99a5-4f61-9793-cb6c14d288bb', N'paulk', N'123456', 7, N'Paul', N'Kolozsvari', N'paulkolo@gmail.com', NULL, CAST(0x00009F6F00C3F972 AS DateTime), N'0833958283')
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_UserId]  DEFAULT (newsequentialid()) FOR [UserId]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_RoleId]  DEFAULT ((0)) FOR [RoleId]
GO
ALTER TABLE [dbo].[DeviceConfig]  WITH CHECK ADD  CONSTRAINT [FK_DeviceConfig_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeviceConfig] CHECK CONSTRAINT [FK_DeviceConfig_Customer]
GO
ALTER TABLE [dbo].[ServerAction]  WITH CHECK ADD  CONSTRAINT [FK_ServerAction_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ServerAction] CHECK CONSTRAINT [FK_ServerAction_User]
GO
ALTER TABLE [dbo].[ServerError]  WITH CHECK ADD  CONSTRAINT [FK_ServerError_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ServerError] CHECK CONSTRAINT [FK_ServerError_User]
GO
