<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Figlut.Aplex.Web.Data.Properties.Settings.FiglutAplexConnectionString"
            connectionString="Data Source=PAULKOLOZSVD2AE\SQL2008STANDARD;Initial Catalog=FiglutAplex;Persist Security Info=True;User ID=FiglutAplexUser;Password=password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>